/* src/Sidebar.css */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow-y: auto; /* Allow vertical scrolling */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #444 #000; /* Firefox */
}

.logo {
  width: 175px; /* Adjust the width as needed */
  height: auto;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.name {
  padding-bottom: 275px;
}

.sidebar ul li .icon {
  margin-right: 15px; /* Space between icon and text */
}

.sidebar::-webkit-scrollbar-track {
  background: #000;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 2px solid #000;
}

.profile-picture-container {
  margin-bottom: 20px;
  margin-top: 50px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Full width to allow text alignment */
}

.sidebar ul li {
  margin: 15px 0;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px; /* Add padding for better look */
  text-align: left; /* Align text to the left */
  transition: background-color 0.3s ease, padding-left 0.3s ease; /* Add smooth transition */
}

.sidebar ul li:hover {
  background-color: transparent; /* No color change on hover */
}

.sidebar ul li.active {
  background-color: #333; /* Grey background for active tab */
  color: #fff; /* White text for active tab */
  padding-left: 30px; /* Indentation for active tab */
}

.sidebar ul li:not(.active):hover {
  padding-left: 25px; /* Indentation on hover */
}
